In [1]:
import pandas as pd

In [ ]:
from src.constant.constant import DATA1
from src.utils.helper import split_data
from src.model.model import NeuralNetworkClassifier

In [3]:
data = pd.read_csv(DATA1)

In [4]:
data.sample(3)

,country,industry,ai_tool,adoption_rate,daily_active_users,age_group,company_size,company_size_numeric,user_engagement_rate,cluster label
20864,0,6,3,-1.364068,-1.068992,2,1,-0.602940,-0.598808,1
132920,3,5,2,1.057712,1.164298,0,2,-0.804295,2.312499,1
93404,8,7,1,-0.335722,-1.653293,4,1,-0.602940,-0.658327,0

In [ ]:
x_train, x_test, y_train, y_test = split_data(data)

In [ ]:
x_train = np.array(x_train)
x_test = np.array(x_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

In [ ]:
model = NeuralNetworkClassifier()

In [ ]:
model.compile_neural_network()

In [ ]:
model.train_classifier(x_train, y_train)

In [ ]:
test_loss, test_accuracy = model.evaluate_classifier_performance(x_test, y_test)

In [ ]:
model.save_trained_classifier("/kaggle/working/model.keras")